:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  background-color: #fff;
  color: var(--slate);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  margin: 0 auto;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-inner {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  margin-right: 76px;
}

.header-logo,
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-right,
.footer-logo-right {
  color: var(--navyblue);
}

.header-menu {
  margin: 0 0 0 76px;
  display: flex;
  gap: 40px;
}

.header-menu-item {
  color: var(--navyblue);
  font-weight: 500;
  padding: 24px 0;
}

.header-menu-item:visited {
  color: var(--navyblue);
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean);
  text-decoration: underline;
}

.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-address-item {
  color: var(--slate);
}

.header-address-item:hover,
.header-address-item:focus {
  color: var(--ocean);
}
/* /header */

/* footer */
.footer {
  margin: 120px 0 0 0;
  padding: 100px 0;
  background: var(--navyblue);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: var(--cloud);
}

.footer-details {
  color: var(--cloud);
  max-width: 264px;
}
/* /footer */

/* main studio */
.studio .first-section {
  background-color: var(--navyblue);
  padding: 188px 0;
}

.studio .first-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.studio .first-section-order {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.studio .first-section-order:hover,
.studio .first-section-order:focus {
  background-color: var(--ocean);
}

.studio .second-section {
  padding: 120px 0;
}

.studio .second-section-advantages {
  display: flex;
  gap: 24px;
}

.studio .second-section-advantages-item {
  width: calc((100% - 72px) / 4);
}

.studio .second-section-advantage {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.studio .second-section-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.studio .third-section {
  padding-bottom: 120px;
}

.studio .third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.studio .third-section-items {
  display: flex;
  gap: 24px;
}

.studio .third-section-item {
  width: calc((100% - 48px) / 3);
}

.studio .fourth-section {
  background-color: var(--cloud);
  padding: 120px 0px;
}

.studio .fourth-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.studio .team {
  display: flex;
  gap: 24px;
}

.studio .team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.studio .team-item-container {
  padding: 32px 0px;
}

.studio .team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.studio .team-item-details {
  font-size: 16px;
  text-align: center;
}
/* /main studio */

/* main portfolio */
.portfolio {
  margin: 0 auto;
}

.portfolio .portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio .filter-buttons {
  margin: 96px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio .filter-btn {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
  border: 1px solid var(--cornflower);
  background-color: #f4f4fd;
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
}

.portfolio .filter-btn:hover,
.portfolio .filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
}

.portfolio .cards {
  margin: 72px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .cards-item {
  width: calc((100% - 48px) / 3);
}

.portfolio .card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .card {
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.portfolio .card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.portfolio .card-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--stale);
}
/* /main portfolio */
