:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --main-width: 1128px;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  background-color: #fff;
  color: var(--color-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin: 0;
}

header {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  flex-shrink: 0;
}

header ul {
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-start;
}

header .logo,
footer .logo {
  color: var(--navyblue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16667; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

header .logo .logo-left,
footer .logo .logo-left {
  color: var(--iris);
}

header nav .menu {
  display: inline-flex;
  align-items: flex-start;
  margin: 0 0 0 76px;
  padding: 0;
  gap: 40px;
}

header nav .menu ul {
  padding: 0;
}

header nav .menu ul li {
  color: var(--navyblue);
  font-weight: 500;
}

header nav .menu li a:visited {
  color: var(--navyblue);
}
header nav .menu li a:hover,
header nav .menu li a:focus {
  color: var(--ocean);
  text-decoration: underline;
}

header address ul {
  display: flex;
  gap: 40px;
  padding: 0;
}

header address ul li a {
  color: var(--slate);
  font-style: normal;
}

header address ul li a:hover,
header address ul li a:focus {
  color: var(--ocean);
}

main {
  width: var(--main-width);
  margin: 0 auto;
}

main .filter-buttons {
  margin: 96px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

main .filter-buttons .filter-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
}

main .filter-buttons .filter-btn:hover,
main .filter-buttons .filter-btn:focus {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white, #fff);
  cursor: pointer;
}

main .cards {
  margin: 72px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
main .cards .card-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

main .cards .card-row .card {
  display: flex;
  width: 360px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

main .cards .card-row .card .card-image {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

main .cards .card-row .card .card-content {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

main .cards .card-row .card .card-content p {
  margin: 0;
}

footer {
  margin: 120px 0 0 0;
  padding: 100px 0 100px 0;
  background: var(--navyblue);
}

footer .footer-inner {
  margin: 0 auto;
  width: var(--main-width);
}

footer .footer-inner .logo .logo-right {
  color: var(--cloud);
}

footer .footer-inner p {
  width: 264px;
  color: var(--cloud);
}
