:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  background-color: #fff;
  color: var(--slate);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* header */
header {
  margin: 0 auto;
  flex-shrink: 0;
}

header nav {
}

header .logo,
footer.class-footer-exactly-how-goit-wants .logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

header .logo .logo-right,
footer.class-footer-exactly-how-goit-wants .logo .logo-right {
  color: var(--navyblue);
}

header nav .menu {
  margin: 0 0 0 76px;
}

header nav .menu ul {
}

header nav .menu .menu-item {
  color: var(--navyblue);
  font-weight: 500;
}

header nav .menu .menu-item:visited {
  color: var(--navyblue);
}

header nav .menu .menu-item:hover,
header nav .menu .menu-item:focus {
  color: var(--ocean);
  text-decoration: underline;
}

header address.class-address-specifically-how-goit-wants {
  font-style: normal;
}

header address.class-address-specifically-how-goit-wants ul {
}

header address.class-address-specifically-how-goit-wants ul li a {
  color: var(--slate);
}

header address.class-address-specifically-how-goit-wants ul li a:hover,
header address.class-address-specifically-how-goit-wants ul li a:focus {
  color: var(--ocean);
}
/* /header */

/* footer */
footer.class-footer-exactly-how-goit-wants {
  margin: 120px 0 0 0;
  background: var(--navyblue);
}

footer .footer-inner {
  margin: 0 auto;
}

footer.class-footer-exactly-how-goit-wants .logo .logo-right {
  color: var(--cloud);
}

footer.class-footer-exactly-how-goit-wants .footer-details {
  color: var(--cloud);
}
/* /footer */

/* main studio */
main.studio .first-section {
  background-color: var(--navyblue);
}

main.studio .first-section .title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main.studio .first-section .order-btn {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

main.studio .first-section .order-btn:hover,
main.studio .first-section .order-btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

main.studio .second-section .advantage-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

main.studio .second-section .advantage-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

main.studio .third-section .third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

main.studio .fourth-section {
  background-color: var(--cloud);
}

main.studio .fourth-section .fourth-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

main.studio .fourth-section .team-item {
  background-color: #ffffff;
}

main.studio .fourth-section .team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

main.studio .fourth-section .team-item-details {
  font-size: 16px;
}
/* /main studio */

/* main portfolio */
main.portfolio {
  margin: 0 auto;
}

main.portfolio .filter-buttons {
  margin: 96px 0 0 0;
  justify-content: center;
}

main.portfolio .filter-buttons .filter-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
  border: none;
  background-color: #f4f4fd;
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
}

main.portfolio .filter-buttons .filter-btn:hover,
main.portfolio .filter-buttons .filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

main.portfolio .cards {
  margin: 72px 0 0 0;
}

main.portfolio .cards .card-row .card {
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

main.portfolio .cards .card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

main.portfolio .cards .card-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--stale);
}
/* /main portfolio */
