:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #fff;
  --client: #8e8f99;
  --stale: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  background-color: #fff;
  color: var(--slate);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  margin: 0 auto;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  margin-right: 76px;
}

.header-logo,
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-right,
.footer-logo-right {
  color: var(--navyblue);
}

.header-menu {
  margin: 0 0 0 0;
  display: flex;
  gap: 40px;
}

.header-menu-item {
  color: var(--navyblue);
  font-weight: 500;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item {
  color: inherit;
}

.header-menu-item:hover:not(.menu-current):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean);
}

.menu-current {
  color: var(--ocean);
}

.menu-current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.address {
  margin-left: auto;
}

.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-address-item {
  color: var(--slate);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item:hover,
.header-address-item:focus {
  color: var(--ocean);
}
/* /header */

/* footer */
.footer {
  margin: 0 0 0 0;
  padding: 100px 0;
  background: var(--navyblue);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-details-wrap {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: var(--cloud);
}

.footer-details {
  color: var(--cloud);
  max-width: 264px;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: var(--cloud);
}

.subscribe {
  margin-left: 80px;
}

.subscribe-header {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* /footer */

/* main studio */
.studio .first-section {
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio-first-sceen-bg.jpg);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.studio .first-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.studio .first-section-order {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio .first-section-order:hover,
.studio .first-section-order:focus {
  background-color: var(--ocean);
}

.studio .second-section {
  padding: 120px 0;
}

.studio .second-section-advantages {
  display: flex;
  gap: 24px;
}

.studio .second-section-advantages-item {
  width: calc((100% - 72px) / 4);
}

.studio .advantage-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.studio .second-section-advantage {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.studio .second-section-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.studio .third-section {
  padding-bottom: 120px;
}

.studio .third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.studio .third-section-items {
  display: flex;
  gap: 24px;
}

.studio .third-section-item {
  width: calc((100% - 48px) / 3);
}

.studio .fourth-section {
  background-color: var(--cloud);
  padding: 120px 0px;
}

.studio .fourth-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.studio .team {
  display: flex;
  gap: 24px;
}

.studio .team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.studio .team-item-container {
  padding: 32px 0px;
}

.studio .team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.studio .team-item-details {
  font-size: 16px;
  text-align: center;
}

.studio .team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.studio .team-social-item {
  width: 40px;
  height: 40px;
}

.studio .social-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio .social-item-link:hover,
.studio .social-item-link:focus,
.studio .social-item-link:active {
  background-color: #404bbf;
}

.studio .social-item-icon {
  fill: #f4f4fd;
}

.studio .fifth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.studio .fifth-section-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navyblue);
  margin-bottom: 72px;
  text-align: center;
}

.studio .clients {
  display: flex;
  gap: 24px;
}

.studio .clients-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.studio .clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: va(--client);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--client);
}

.studio .clients-link:hover,
.studio .clients-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.studio .clients-icon {
  fill: currentColor;
}

.studio .clients-link:hover .clients-icon,
.studio .clients-link:focus .clients-icon {
  fill: var(--ocean);
}

.studio-body .modal-wrap {
  position: fixed;
  /* z-index: 100; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-body .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.studio-body .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.studio-body .modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-body .modal-close:hover,
.studio-body .modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.studio-body .modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-body .modal-close:hover .modal-close-icon,
.studio-body .modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;
}

.modal-field-group {
  margin-bottom: 8px;
}

.modal-area-group {
  margin-bottom: 16px;
}

.modal-checkbox-group {
  margin-bottom: 24px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--client);
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-privacy-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--client);
}

.modal-privacy-checkbox:checked + .modal-privacy-label .modal-fake-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
  color: var(--white);
}

.checkbox-svg {
  fill: currentColor;
}

.modal-fake-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  color: transparent;
}

.modal-policy-link {
  color: var(--iris);
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /main studio */

/* main portfolio */
.portfolio {
  margin: 0 auto;
}

.portfolio .portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio .filter-buttons {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio .filter-btn {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
  border: 1px solid var(--cornflower);
  background-color: #f4f4fd;
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .filter-btn:hover,
.portfolio .filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .cards {
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .cards-item {
  width: calc((100% - 48px) / 3);
}

.portfolio .card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .card-link {
  flex-shrink: 0;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card-link:hover,
.portfolio .card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .card-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio .card-image-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card-link:hover .card-image-overlay,
.portfolio .card-link:focus .card-image-overlay {
  transform: translateY(0%);
}

.portfolio .card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.portfolio .card-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--stale);
}
/* /main portfolio */
